<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
	
		<title th:text="${title}">blogz</title>
		
	    <link th:href="@{/css/styles.css}" rel="stylesheet" />
	    <script th:src="@{/js/script.js}"></script>
	    
	    <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/blog">all posts</a></li>
                <li><a href="/index">index</a></li>
                <li><a href="/newpost">new post</a></li>
                <li><a href="/signup">signup</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
		
	</head>
	
	<p th:fragment="footer">
		Copyright &copy; blogz
	</p>
	
</html>